*{
    margin: 0;
    padding: 0;
}

nav img{
    width: 40px;
}
.card-img-top{
    height: 60%;
}

.quienes-somos, .destacado{
    background-color: black;
    color: white;
}

.quienes-somos i {
    background-color: #0dcaf0;
    font-size: 25px;
    padding: 5px;
}

hr{
    width: 70%;
    color: grey;
}

.card{
    color: white !important;
    background-color: #0dcaf0 !important;
}
