*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

nav img{
    width: 40px;
}

nav{
    color: white;
    font-weight: bolder;

}
.fixed-top {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.card-img-top{
    height: 50%;
}

.quienes-somos, .destacado, .contacto{
    background-color: black;
    color: white;
}

.quienes-somos i {
    background-color: #0dcaf0;
    font-size: 25px;
    padding: 5px;
}

hr{
    width: 70%;
    color: grey;
}

.card, form button{
    color: white !important;
    background-color: #0dcaf0 !important;
}
footer{
    background-color: #0dcaf0;
    color: white;

}
.favicon-footer i{
    color: white;
    font-size: 30px;
    margin-right: 10px;
}
a:link, a:visited, nav a{
    text-decoration: none !important;
}
.navbar-dark .navbar-nav .nav-link  {
    color: white !important;
}